{% extends "base.html" %} {% block content%}

<div class="container bg-white p-5 mt-4 contain">
    <h4 class="text-center mb-3"><i class="fas fa-bullhorn"></i> ประกาศ</h4>
    <div class="row">
        <div class="col-md-12">
            {%if show_news%} {% for new in anounce%}
            <div class="annouce p-3 my-2 bg-secondary text-white rounded">
                <i class="fas fa-exclamation-triangle text-warning"></i> <b>{{new.news_title}}</b> {{new.news_content}}
            </div>
            {%endfor%} {%endif%}
        </div>
    </div>
    <br><br>
    <h4 class="text-center mb-3"><i class="fas fa-box-open"></i> พัสดุ</h4>
    <div class="row">
        {% for parcel in parcels %}
        <div class="col-md-6">
            <div class="annouce p-3 my-2 bg-info text-white rounded">
                <i class="fas fa-box text-warning"></i> <b>{{parcel.arrive_date |date:'d-m'}}-{{parcel.year_now}} | </b> {{parcel.fname_guest}} {{parcel.lname_guest}}
            </div>
        </div>
        {%endfor%}


    </div>
</div>

{% endblock content%}