{% extends "base.html" %} {% block content%}

<div class="container bg-white p-5 contain">
    <h4 class="text-center mb-3">บิลล่าสุด</h4>
    <div class="row">
        <div class="col-sm-9">
            <h5>บิลประจำเดือน <span class="text-primary">{{indetails.0.0.invoice_invoice_id.month_now}}</span> ยอดชำระ <span class="text-danger">{{indetails.0.0.invoice_invoice_id.total|stringformat:".2f"}}</span> บาท
            </h5>
        </div>
        {%if invoicehis %}
        <div class="col-sm-3">
            {%if paid %}
            <a @click.prevent='' href="{% url 'user_bill' %}" class="btn btn-success">ชำระแล้ว</a>
            <!--  -->
            {%else%}
            <a href="{% url 'user_payment' %}" class="btn btn-danger">ยังไม่ชำระ</a>
            <!--  -->
            {%endif%}
            <a href="{% url 'user_detail' %}" class="btn btn-info" data-toggle="collapse" data-target="#detail_id" aria-expanded="false" aria-controls="collapseExample">รายละเอียด</a>
        </div>
        <!-- รายละเอียด -->
        <div class="col-12 border rounded p-3 mt-4 collapse" id="detail_id">
            <table width="100%">
                <tr>
                    <th width="50%">รายการ</th>
                    <th width="15%">จำนวน</th>
                    <th width="20%">ต่อหน่วย</th>
                    <th width="15%">จำนวนเงิน</th>
                </tr>
                <tr>
                    <td>ค่าเช่าห้องเดือน{{indetails.0.0.invoice_invoice_id.month_now}} {{indetails.0.0.invoice_invoice_id.year_now}}</td>
                    <td>1</td>
                    <td>{{room.room_rate|stringformat:".2f"}}</td>
                    <td>{{room.room_rate|stringformat:".2f"}}</td>
                </tr>
                {% for i in indetails.0%}
                <!--  -->
                <tr>
                    <td>{{i.expense_exp_id.exp_desc}}</td>
                    <td>{{i.unit|stringformat:"d"}}</td>
                    <td>{{i.expense_exp_id.price_per_unit|stringformat:".2f"}}</td>
                    <td>{{i.total|stringformat:".2f"}}</td>
                </tr>
                <!--  -->
                {% endfor %}
                <tr>
                    <td colspan="3">จำเงินรวมทั้งสิ้น</td>
                    <td>{{indetails.0.0.invoice_invoice_id.total|stringformat:".2f"}}</td>
                </tr>
            </table>
        </div>
        <!-- รายละเอียด -->
        {%endif%}
    </div>
</div>

<div class="container bg-white p-5 my-4 contain">
    <h4 class="mb-3 text-center">ประวัติการชำระเงิน</h4>
    <br> {%if invoicehis %}
    <!--add if invoice later ---------- -->
    {% for details in indetails %}
    <div class="row mt-3">
        <div class="col-sm-2 font-weight-bold">{{details.0.invoice_invoice_id.month_now}} {{details.0.invoice_invoice_id.year_now}}</div>
        <div class="col-sm-2">{{details.0.expense_exp_id.exp_desc}} {{details.0.unit|stringformat:"d"}} หน่วย</div>
        <div class="col-sm-2">{{details.1.expense_exp_id.exp_desc}} {{details.1.unit|stringformat:"d"}} หน่วย</div>
        <div class="col-sm-2 text-primary font-weight-bold">{{details.0.invoice_invoice_id.total|stringformat:".2f"}} บาท</div>
        <div class="col-sm-4 buttop"><button class="btn btn-outline-primary w-100" data-toggle="collapse" data-target="#detail_id{{details.0.invoice_invoice_id_id}}" aria-expanded="false" aria-controls="detail_id2">ดูรายละเอียด</button></div>
    </div>
    <!-- รายละเอียด -->
    <div class="col-12 border rounded p-3 mt-4 collapse" id="detail_id{{details.0.invoice_invoice_id_id}}">
        <table width="100%">
            <tr>
                <th width="50%">รายการ</th>
                <th width="15%">จำนวน</th>
                <th width="20%">ต่อหน่วย</th>
                <th width="15%">จำนวนเงิน</th>
            </tr>
            <tr>
                <td>ค่าเช่าห้อง{{details.0.invoice_invoice_id.month_now}} {{details.0.invoice_invoice_id.year_now}}</td>
                <td>1</td>
                <td>{{room.room_rate|stringformat:".2f"}}</td>
                <td>{{room.room_rate|stringformat:".2f"}}</td>
            </tr>
            {% for d in details %}
            <tr>
                <td>{{d.expense_exp_id.exp_desc}}</td>
                <td>{{d.unit|stringformat:"d"}}</td>
                <td>{{d.expense_exp_id.price_per_unit|stringformat:".2f"}}</td>
                <td>{{d.total|stringformat:".2f"}}</td>
            </tr>
            {%endfor%}
            <tr>
                <td colspan="3">จำเงินรวมทั้งสิ้น</td>
                <td>{{details.0.invoice_invoice_id.total|stringformat:".2f"}}</td>
            </tr>
        </table>
    </div>
    <!-- รายละเอียด -->
    {% endfor %} {%endif%}

    <!-- <div class="row mt-3">
        <div class="col-sm-2 font-weight-bold">มีนาคม 2562</div>
        <div class="col-sm-2">ค่าไฟ 56 หน่วย</div>
        <div class="col-sm-2">ค่าน้ำ 3 หน่วย</div>
        <div class="col-sm-2 text-primary font-weight-bold">6105.00 บาท</div>
        <div class="col-sm-4 buttop"><button class="btn btn-outline-primary w-100" data-toggle="collapse" data-target="#detail_id2" aria-expanded="false" aria-controls="detail_id2">ดูรายละเอียด</button></div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-2 font-weight-bold">กุมภาพันธ์ 2562</div>
        <div class="col-sm-2">ค่าไฟ 47 หน่วย</div>
        <div class="col-sm-2">ค่าน้ำ 2 หน่วย</div>
        <div class="col-sm-2 text-primary font-weight-bold">5830.00 บาท</div>
        <div class="col-sm-4 buttop"><button class="btn btn-outline-primary w-100" data-toggle="collapse" data-target="#detail_id2" aria-expanded="false" aria-controls="detail_id2">ดูรายละเอียด</button></div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-2 font-weight-bold">มกราคม 2562</div>
        <div class="col-sm-2">ค่าไฟ 21 หน่วย</div>
        <div class="col-sm-2">ค่าน้ำ 1 หน่วย</div>
        <div class="col-sm-2 text-primary font-weight-bold">5310.00 บาท</div>
        <div class="col-sm-4 buttop"><button class="btn btn-outline-primary w-100" data-toggle="collapse" data-target="#detail_id2" aria-expanded="false" aria-controls="detail_id2">ดูรายละเอียด</button></div>
    </div> -->

</div>


{% endblock content%}