{% extends "base.html" %} {% block content%}

<!-- new Dorm -->
<div class="container bg-white p-5 contain">
    <div class="d-flex justify-content-center">
        <h1 class="mx-auto mb-4">แจ้งชำระเงิน</h1>
    </div>

    <form method='POST' enctype="multipart/form-data" action="{% url 'user_payment' %}">
        {%csrf_token%}

        <!-- Notification -->
        {% if messages %}
        <!--  -->
        {%for message in messages%}
        <div class="noti">
            <div class="alert alert-success text-center" role="alert">
                <i class="far fa-check-circle"></i> ส่งสำเร็จเรียบร้อย
            </div>
            <!-- <div class="alert alert-danger z-index-100" role="alert">
                <i class="far fa-times-circle"></i> ผิดพลาด ลองใหม่อีกครั้งหรือติดต่อเจ้าของหอพักเพื่อแจ้งปัญหา
            </div> -->
        </div>
        <!--  -->
        {%endfor%}
        <!--  -->
        {%endif%}
        <!-- / Notification -->

        <div class="form-group">
            <label for="name"><i class="fas fa-user"></i> ชื่อ-สกุล</label>
            <input type="text" class="form-control" value="{{user.first_name}} {{user.last_name}}" id="name" disabled>
        </div>

        <div class="form-group">
            <label for="room"><i class="fas fa-door-closed"></i> ห้องพัก</label>
            <input type="text" class="form-control" value="{{room.room_number}}" id="room" disabled>
        </div>

        <div class="form-group">
            <label for="price"><i class="fas fa-money-bill-alt"></i> จำนวนเงิน</label>
            <!--  -->
            {%if paid%}
            <input type="number" class="form-control text-danger" value='0.00' id="price" disabled>
            <!--  -->
            {%else%}
            <input type="number" class="form-control text-danger" value='{{invoice.total|stringformat:".2f"}}' id="price" disabled>
            <!--  -->
            {%endif%}
        </div>
        <div class="form-group">
            <label id="{{ form.bill_picture.id_for_label }}" for="phonefordorm"><i class="fas fa-cloud-upload-alt"></i> {{form.bill_picture.label}}</label>
            <div class="custom-file">
                <input name='bill_picture' type="file" class="custom-file-input" id="customFile">
                <!-- {{form.bill_picture}} -->
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>

        <div class="form-group">
            <label for="id_payment_datetime"><i class="far fa-calendar-alt"></i> วันเวลาโอนชำระเงิน</label>
            <!-- <input type="datetime-local" class="form-control" id="taxid"> -->
            {{ form.payment_datetime}}
        </div>

        <div class="form-group">
            <label for="id_payment_desc"><i class="fas fa-comment"></i> หมายเหตุ</label>
            <!-- <input type="textarea" class="form-control" id="notice" rows="30" cols='70'> -->
            {{form.payment_desc}}
            <!-- <textarea class="form-control" id="notice" rows="3"></textarea> -->
        </div>

        <div class="d-flex justify-content-center">
            {%if paid %}
            <button type="submit" class="btn btn-primary w-100 mt-3" disabled>ยันยัน</button>
            <!--  -->
            {%else%}
            <button type="submit" class="btn btn-primary w-100 mt-3">ยันยัน</button>
            <!--  -->
            {%endif%}
        </div>
    </form>
</div>
<!-- / new Dorm -->

<script>
    $('#customField').on('change', function() {
        var fileName = $(this).val();
        $(this).next('.custom-file-label').html(fileName);
    })
</script>
{% endblock content%}