@import url('https://fonts.googleapis.com/css?family=Kanit');

*{
    font-family: 'Kanit', sans-serif;
}

nav{
    top: -3.5em;
    box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.15);
}

body{
    background: #fff;
}

.annouce{
    width: 100%;
}

table, th, td{
    border: 1px solid #000;
}

th, td{
    text-align: center;
    padding: .5em;
}
