@import url('https://fonts.googleapis.com/css?family=Sarabun');
@import url('https://fonts.googleapis.com/css?family=Timmana');
@import url('https://fonts.googleapis.com/css?family=Mitr');

*{
    font-family: 'Sarabun', sans-serif;
}
body{
    background: #1a535c;
}
h1{
    font-family: 'Mitr', sans-serif;
}
.annouce{
    width: 100%;
}

table, th, td{
    border: 1px solid #000;
}
th, td{
    text-align: center;
    padding: .5em;
}